torch==2.6.0
datasets==3.6.0
transformers==4.57.6
scikit-learn==1.6.1
scipy==1.15.2
fastdtw==0.3.4
praat-parselmouth==0.4.7
numpy==2.0.0
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.67.1
librosa==0.11.0
soundfile==0.13.1
evaluate==0.4.3
ctc-segmentation==1.7.4
epitran==1.34.0
lingpy==2.6.14
jieba==0.42.1
praatio==6.2.0
textgrid==1.6.1
phonikud==0.4.1
fugashi==1.5.2
pycantonese==4.2.0
pyidaungsu==0.1.4
pyopenjtalk==0.4.1
pythainlp==5.3.3
pyvi==0.1.1
khmerns==0.0.4
laonlp==1.3.0
iso639==0.1.4